#logo{
width:80px;
height:40px ;
margin-top:20px;
margin-left: 170px;
}
.img{
float: right;
margin-top:20px;
}

h1{
padding:50px;
font-family: Arial, Helvetica, sans-serif;
margin-left: 170px;
}
#pizza{
margin-left: 170px;
}

p{
margin-left: 170px;
font-family: Georgia, 'Times New Roman', Times, serif;
}
ul{
background-image:url(https://github.com/LTUC/amman-201d18/blob/main/class-10/choco-pizza-lab/lab-assets/list-bg.png?raw=true);
margin-left: 170px;
}
.li{
margin-left:290px ;
}
#van{
    margin-left: 170px;
    float: left;
}
#logfooter{
margin-left: 50%;
position: relative;
}